html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  


 
.main {
  position: relative;
  transition: all 1s;
}

.block-components {
  min-height: 80vh;
}



  /*Так значительно проще изменять box-sizing в 
  плагинах или других компонентах, которые задают иное поведение.*/

