.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 5px;
}

.search__button {
  outline: none;
  cursor: pointer;
  border: none;
  &:focus {
    background-color: rgb(141, 113, 141);
    color: white;
  }
  &:hover {
    background-color: rgb(141, 113, 141);
    color: white;
  }
}
.search__input {
  outline: none;
  border-color: rgb(214, 200, 214);

  &::placeholder {
    color: black;
  }
  &:focus {
    border-color: rgb(126, 64, 126);
  }

  &:hover {
    border-color: rgb(126, 64, 126);
  }
  &:active {
    border-color: rgb(126, 64, 126);
  }
}
.search__label {
  margin-bottom: 3px;
}
